body{
    background-color: gray;
    
}
h1{
    text-align: center;
}
.container{
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    
    
}
.holder{
    border-radius: 10px;
    width: 50vh;
    padding: 10px;
    background-color:   black;
    color:   #f1f5f8;
    margin-bottom: 10px;
    
}
.color{
    color:rgb(108, 108, 220);
}
.btn{
    border-radius: 5px;
    width: 20vh;
    font-weight: bold;
}