.class1{
    color: black;
    background-color: rgb(255, 0, 21);
}
.class2{
    color: aliceblue;
    background-color: black;
}

.pColor1{
    color: red;
    background-color: black;
}
.pColor2{
    color: white;
    background-color: green;
}
